<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration de base -->
<phpunit
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
bootstrap="vendor/autoload.php"
colors="true">

    <!-- Configuration des répertoires de tests -->
    <testsuites>
        <testsuite name="Entity">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <!-- Configuration des répertoires de sources -->
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <!-- Variables d'environnement -->
    <php>
        <env name="XDEBUG_MODE" value="coverage" />
    </php>
</phpunit>
